body {
  background: url("/images/campground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

#fixed {
  position: fixed;
}
.panel-heading {
  text-align: center;
  font-weight: bold;
}

h2 {
  text-align: center;
}
li {
  color: white;
}
